{% extends 'pizzas/base.html' %}

{% block content %}

{% load static %}
<div style="text-align: center;
            padding-top: 50px;
            ">
    <img src="{% static 'pizza-3007395_1920.jpg'%}" alt="Pizza" style="width:100%; height: 1100px;">
    <div 
        style=" position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Roboto Black, sans-serif;
        color: rgb(255, 255, 255);
        font-size: 50px;">
    <h1>Best Pizza in Waco</h1>
    <h3 style="font-style: italic; font-size: 50px;">Pitchers, pies, and good vibes</h3>
    
    </div>
    
</div>

<div style="padding:20px;
            margin-top:-5px;
            background-color:#1a2c28;
            text-align: center;
            height:400px;
            font-family: Roboto,sans-serif;
            color: azure;">

<h1 style="font-size: 50px;">Why Come To Shorty’s?</h1>

<p style="font-size: 30px;">Shorty’s Pizza Shack is a family owned and operated hangout in the heart of Waco, TX. We’ve been in business since 2011, giving Wacoans a fun, relaxing place to get together, grab a slice, and stick around awhile. Our customers love us for our quality ingredients, like whole milk mozzarella, house-made dough and marinara, from-scratch toppings, fresh salads, and tasty wings. Spend a lazy Sunday afternoon on our giant covered patio with beers by the half-pitcher, catch the game, swing by for a lunch special, or just grab dinner at a spot that the kids love too.</p>

</div>

{% endblock content %}
