{% extends 'pizzas/base.html' %}

{% block content %}

<div style="padding-top: 60px;
            padding-left: 30px;">

    <h1 style="font-family: Roboto Black;">Our Pizza Menu</h1>

    <ul style="list-style-type: none; padding-left:0px">
        {% load static %}
        <img src="{% static 'pepperoni.jpg'%}" alt="Pepperoni"">

        {% for pizza in pizzas %}
        <li>
            <a href="{% url 'pizzas:pizza' pizza.id %}">{{pizza}}</a>
        </li>
        {% empty %}
        <li>Currently, no pizza on menu</li>
        {% endfor %}
    </ul>

    {% endblock content%}

</div>