{% extends 'pizzas/base.html' %}

{% block content %}

<h1>Menu: {{ pizza }}</h1>

    {% for topping in toppings %}
    <h3>
        {{topping.name|linebreaks}}
    </h3>
    {% empty %}
    <h3>More details on this pizza will be provided soon</h3>

    {% endfor %}

<h2>Comments</h2>
    {% for comment in comments %}
    <h5>
        {{comment.name|linebreaks}}
    </h5>
    {% empty %}
    <h3>No comment yet!</h3>

    {% endfor %}
<p>
    <a href="{% url 'pizzas:comment' pizza.id %}">Add comment</a>
    
</p>

{% endblock content%}